<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body>

<div>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>

<div class="col-5 float-start">
    @@ -33,8 +33,10 @@
</div>
<input type="text"
       class="form-control"
       th:value="${username}"
       id="username"
       min="2" max="50"
       placeholder="Ex: ivaylo5"
       name="username"/>
</div>

@@ -45,6 +47,7 @@
<input type="password"
       class="form-control"
       id="password"
       min="2" max="50"
       placeholder="Enter password"
       name="password"/>
</div>
@@ -53,15 +56,15 @@
<button type="submit" class="btn">Login</button>
</div>

<p th:if="${bad_credentials}" class="errors alert-danger">
    Invalid username or password.
</p>

<div class="login-12 text-center mt-2 mb-3">
    <button type="submit" class="btn">Login</button>
</div>

</form>

</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
</script>
</body>
</html>